@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

body {
  background-color: #f8fafc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2394a3b8' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
  --primary: hsl(45 100% 50%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 95%);
  --secondary-foreground: hsl(0 0% 0%);
  --accent: hsl(45 100% 50%);
  --accent-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 90%);
}

.always-scrollbar {
  overflow-y: scroll;
}

.always-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.always-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.always-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}


.leaflet-container {
  z-index: 0 !important;
}

/* Custom scrollbar for WebKit browsers */
.overflow-x-auto::-webkit-scrollbar {
  height: 12px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #FFC800;
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #e6b400;
}

.leaflet-popup-content a {
  color: #25D366 !important;
}
