@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

:root {
  --background: hsl(210 20% 98%);
  --foreground: hsl(210 15% 15%);
  --primary: hsl(140, 70%, 35%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(45 25% 88%);
  --secondary-foreground: hsl(210 15% 25%);
  --accent: hsl(15 75% 70%);
  --accent-foreground: hsl(0 0% 100%);
  --border: hsl(210 20% 90%);
}

.leaflet-container {
  z-index: 0 !important;
}